.my_photo {background-image: url("http://via.placeholder.com/1000x1000");
           background-repeat: no-repeat;
           background-position:top;
           background-attachment: fixed;
           background-size: cover;
          }

