body {background-image: url("bg_sanghwang.jpg");
      background-repeat: no-repeat;
      background-position:top;
      background-position:20% 30%;
      background-attachment: fixed;
      background-size: cover;
	    padding: 50px;
     }

p {font-size: 1.2rem;
  }

.right-box {background-color:yellow;
            opacity:0.8;
            color:black;
            padding: 0px 50px;
            text-align: justify;
           }

.first_letter {font-size: 3rem;
			   color: black;
			   font-style:bold;
			   font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
			  }

.firstbox {padding-top:30px;}

.firstbox {padding-bottom:30px;}

.my-hr {width: 100%;
        border: 5px solid black;
        margin-left: 0;
       }

.species-name{font-style: italic;
			  color: black;
              font-size: 1.2rem;
            }

ul {font-size: 1.2rem;
}